<mat-toolbar>
  <img type="image" class="logo" mat-card-lg-image src="/assets/images/bb-logo-2.jpeg" alt="">
  <span>Bento Borges</span>
  <span class="spacer"></span>
  <span>{{appState.firstName+ " "+ appState.lastName}}</span>
  <button color="primary"  mat-icon-button class="example-icon" (click)="logout()">
    <mat-icon>logout</mat-icon>
  </button>
</mat-toolbar>
<div style="height: 50px;margin-top: 20px;">
  <div style="float: right;">
    <mat-form-field appearance="fill" class="filter-select">
      <mat-label>Escolha uma loja</mat-label>
      <mat-select [(value)]="filters.value.store" (selectionChange)="applyFilter()">
        <mat-option *ngFor="let row of store" value='{{row.id}}'>{{row.Name}}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Insira um intervalo de datas</mat-label>
      <mat-date-range-input [formGroup]="filters" [rangePicker]="picker">
        <input matStartDate formControlName="start" placeholder="Start date">
        <input matEndDate formControlName="end" placeholder="End date" (dateChange)="applyFilter()">
      </mat-date-range-input>
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-date-range-picker #picker></mat-date-range-picker>
      <mat-error *ngIf="filters.value.start">Data de início inválida</mat-error>
      <mat-error *ngIf="filters.value.end">Data de fim inválida</mat-error>
    </mat-form-field>

    <button color="primary" mat-icon-button style="margin-right: 15px;" (click)="onBtnExport()">
      <mat-icon>picture_as_pdf</mat-icon>
    </button>
    <button color="primary" mat-icon-button (click)="onBtnExportExcel()">
      <mat-icon>download</mat-icon>
    </button>
  </div>
</div>

<div #htmlData>
  <table mat-table #table [dataSource]="dataSource" class="mat-elevation-z8 demo-table">
    <div class="spinner-container" *ngIf="dataSource.loading$ | async">
      <mat-spinner></mat-spinner>
    </div>
    <ng-container matColumnDef="CreationDate">
      <th mat-header-cell *matHeaderCellDef class="text-center-data right-border">Data</th>
      <td mat-cell *matCellDef="let element" class="text-center-data right-border"> {{element.CreationDate | date : 'shortDate'}} </td>
    </ng-container>
    <ng-container matColumnDef="TotalRevenueWithoutTax">
      <th mat-header-cell *matHeaderCellDef class="text-right">Total s/ IVA</th>
      <td mat-cell *matCellDef="let element" class="text-right"> {{element.TotalRevenueWithoutTax | currency: 'EUR' }} </td>
    </ng-container>
    <ng-container matColumnDef="TotalRevenueWithTax">
      <th mat-header-cell *matHeaderCellDef class="text-right right-border">Total c/ Iva</th>
      <td mat-cell *matCellDef="let element" class="text-right right-border"> {{element.TotalRevenueWithTax | currency: 'EUR'}} </td>
    </ng-container>
    <ng-container matColumnDef="CreditNotesWithTax">
      <th mat-header-cell *matHeaderCellDef class="text-right right-border">Valor c/IVA</th>
      <td mat-cell *matCellDef="let element" class="text-right right-border"> {{element.CreditNotesWithTax | currency: 'EUR'}} </td>
    </ng-container>
    <ng-container matColumnDef="DepositCash">
      <th mat-header-cell *matHeaderCellDef class="text-right">Numerário</th>
      <td mat-cell *matCellDef="let element" class="text-right">{{element.DepositCash | currency: 'EUR'}}</td>
    </ng-container>
    <ng-container matColumnDef="DepositTotal">
      <th mat-header-cell *matHeaderCellDef class="text-right right-border">Multibanco</th>
      <td mat-cell *matCellDef="let element" class="text-right right-border">{{element.DepositTotal | currency: 'EUR'}}</td>
    </ng-container>
    <ng-container matColumnDef="TotalPOSWithcommission">
      <th mat-header-cell *matHeaderCellDef class="text-right">Total Comissões</th>
      <td mat-cell *matCellDef="let element" class="text-right">{{element.TotalPOSWithcommission | currency: 'EUR'}}</td>
    </ng-container>
    <ng-container matColumnDef="TotalPOSWithoutcommission">
      <th mat-header-cell *matHeaderCellDef class="text-right right-border">Total S/ Comissões</th>
      <td mat-cell *matCellDef="let element" class="text-right right-border">{{element.TotalPOSWithoutcommission | currency: 'EUR'}}</td>
    </ng-container>
    <ng-container matColumnDef="Notes">
      <th mat-header-cell *matHeaderCellDef class="text-left right-border">Notas</th>
      <td mat-cell *matCellDef="let element" class="text-left right-border">{{element.Notes}}</td>
    </ng-container>
    <ng-container matColumnDef="Edit-delete">
      <th mat-header-cell *matHeaderCellDef>
      </th>
      <td mat-cell *matCellDef="let element" class="buttons">
        <button  color="primary" mat-icon-button (click)="onEdit(element)">
          <mat-icon>mode_edit</mat-icon>
        </button>
        <button  color="primary" mat-icon-button (click)="onDelete(element)">
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>
    <ng-container matColumnDef="spinner">
      <td mat-footer-cell *matFooterCellDef colspan="11">
        <div class="spinner-container">
          <mat-spinner></mat-spinner>
        </div>
      </td>
    </ng-container>

    <ng-container matColumnDef="no-result">
      <td mat-footer-cell *matFooterCellDef colspan="11" class="text-center-data">
        Lista vazia ou sem resultados, por favor adicione uma nova entrada ou altere os filtros
      </td>
    </ng-container>

    <!-- Header row second group -->
    <ng-container matColumnDef="header-row-1" >
      <th mat-header-cell *matHeaderCellDef [attr.colspan]="1" class="text-center"></th>
    </ng-container>
    <ng-container matColumnDef="header-row-2">
      <th mat-header-cell *matHeaderCellDef [attr.colspan]="2" class="text-center right-border"> Facturaçao </th>
    </ng-container>
    <ng-container matColumnDef="header-row-3">
      <th mat-header-cell *matHeaderCellDef [attr.colspan]="1" class="text-center right-border"> Notas de crédito </th>
    </ng-container>
    <ng-container matColumnDef="header-row-4">
      <th mat-header-cell *matHeaderCellDef [attr.colspan]="2" class="text-center right-border"> Depósitos </th>
    </ng-container>
    <ng-container matColumnDef="header-row-5">
      <th mat-header-cell *matHeaderCellDef [attr.colspan]="2" class="text-center"> POS </th>
    </ng-container>
    <ng-container matColumnDef="header-row-6">
      <th mat-header-cell *matHeaderCellDef [attr.colspan]="2" class="text-center">
        <button color="primary" mat-raised-button (click)="addRow()" class="button-position">
          Adicionar
          <mat-icon mat-icon-button class="icon-position">add</mat-icon>
        </button>
      </th>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="['header-row-1', 'header-row-2','header-row-3','header-row-4','header-row-5','header-row-6']"></tr>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    <tr mat-footer-row *matFooterRowDef="['spinner']" [hidden]="!(dataSource.loading$ | async)"></tr>
    <tr mat-footer-row *matFooterRowDef="['no-result']" [hidden]="(dataSource.accountSubject | async)"></tr>
  </table>
</div>
