.container {
  width: 33%;
  display: inline-block;
}

.input-row {
  text-align: right;
  width: 170px;
  margin-right: 20px;
}

.margin-right {
  margin-right: 25px;
}

.notes {
  text-align: left;
  width: 557px;
}
